<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <p class="text-muted text-center"><i>It is 31 December 1919 and the party at Weatherby Manor is in full swing. The guests exchange furtive whispers of intrigue, blackmail and forbidden love. At midnight, a glass of poisoned champagne shatters, dropped from a dying hand. The family has to find &ndash; or frame &ndash; the killer before the police start looking too closely into their secrets.</i></p>
                </div>
            </div>
            <div class="row divider-row"></div>
            <div class="row vertical-center">
                <div class="col-md-6 left-col">
                    <h2 class="section-heading text-center">About the game</h2>
                    <p class="text-muted">Arsenic & Lies is a 3 hour larp <sup><a class="page-scroll link" href="#newtolarp">(what's that?)</a></sup> for 5-10 players inspired by Downton Abbey and Agatha Christie novels. Rather than being a classical whodunnit, it focuses on the emotions, relationships and secrets of the characters involved: solving the murder might be less important to the characters than pursuing their clandestine affairs, arranging marriages of convenience or blackmailing their enemies.<br /><br />

                    <b>Features:</b>
                        <ul class="text-list">
                            <li>Infinitely replayable: the characters and relationships between them are based on randomly drawn cards and created by the players right before the game, which makes every run unique.</li>
                            <li>Requires no game master or preparation: just read the 2-page instructions and you're good to go.</li>
                            <li>Great introduction to larps, accessible to non-larpers and non-gamers; it has been successfully played by diverse groups of people aged 16+.</li>
                            <li>22 double-sided Character cards, 18 Relationships and 16 Secrets.</li>
                        </ul>
                    </p>               
                </div>
                <div class="col-md-6 right-col">
                    <img src="img/large_poster.jpg"  width=100% />
                </div>
            </div>
            <div class="row divider-row">
            </div>
			<section id="newtolarp">
				<div class="row vertical-center">
					<div class="col-md-6 left-col">
						<img src="img/char.jpg"  width=100% />
					</div>
					<div class="col-md-6 right-col">

						<h2 class="section-heading text-center">New to Larp?</h2>
						<p class="text-muted">
							Arsenic & Lies is a larp (short for Live Action Roleplay), a social activity where a group of people pretend for several hours to be fictional characters in a dramatic situation. Here is how you can look at it.<br /><br />
							Arsenic & Lies is like a <b>tabletop roleplaying game</b> (e.g. Dungeons & Dragons) in that each of the players will control a fictional character. The difference is that instead of sitting around a table and taking turns to describe the actions of your character, you all simultaneously pretend to be them. E.g. instead of saying, <i>“Emily glares at Richard and exclaims, ‘I demand an explanation!’”</i> you will, acting as Emily, do the glaring and exclaiming. Also, in A&L there are no dice, no numbers, and no concept of winning or losing.</p>
					</div>
				</div>
				<div class="row divider-row">
				</div>
				<div class="row vertical-center">
					<div class="col-md-6 left-col">
					<p class="text-muted">
						Arsenic & Lies is like a <b>murder mystery dinner party</b>, but infinitely replayable: every time you play, the characters, their secrets and relationships will change, and both the victim and the culprit will be different. A&L doesn’t need a host and requires little preparation. The focus isn’t on figuring out whodunnit, but on the drama of being slightly larger than life characters with intense relationships.<br /><br />
						Arsenic & Lies is like <b>improv theatre</b>, but you will be your own audience. The workshop before the game will provide you with characters and relationships, so you won’t have to invent things from scratch. Also, the tone is drama rather than comedy.</p>
					</div>
					<div class="col-md-6 right-col">
						<img src="img/relsec.jpg"  width=100% />
					</div>
				</div>
			</section>	
        </div>
    </section>			

	<section id="testimonials">

		<div class="container">
			<div class="row vertical-center">
				<div class="col-md-6 left-col">
					<img src="img/news.jpg"  width=100% />
				</div>
				<div class="col-md-6 right-col">
					<h2 class="section-heading text-center">Testimonials</h2>
					<p class="text-muted text-center"><i>Playing Arsenic and Lies was a fun and enjoyable experience. I ran it for some members of my extended family, who were mostly new to Live action role playing and everyone had a great time. The character, relationship, and secret cards provide useful prompts for developing your character and story but you are free to use your imagination and embellish all the details.</i><br /><b>Ruth, London</b></p>
				</div>
			</div>
			<div class="row divider-row">
			</div>
			<div class="row vertical-center">
				<div class="col-md-6 left-col">
					<p class="text-muted text-center"><i>Arsenic and Lies is a unique take on the murder mystery genre. It isn't about who did it - it's about making sure that your secrets come out in an explosive manner as possible while trying to save the people you care about and your family reputation. This game is lots of fun and very accessible. It's easy to run and get a sense of your character and the method for creating relationships ensures that you'll have a lot of play. This is a game for experienced larpers and non larpers alike.</i><br /><b>Laura, 31, Surbiton</b></p>
				</div>
				<div class="col-md-6 right-col">
					<img src="img/people_playing1.jpg"  width=100% />
					<h3 class="section-subheading text-center">Photo by Mirella, Spain</h3>
				</div>
			</div>
			<div class="row divider-row">
			</div>
			<div class="row vertical-center">
				<div class="col-md-6 left-col">
					<img src="img/people_playing2.jpg"  width=100% />
					<h3 class="section-subheading text-center">Photo by Arne, Germany</h3>
				</div>
				<div class="col-md-6 right-col">
					<p class="text-muted text-center">Testimonials by Mo, Arne, Mirella.</p>
				</div>
			</div>			
		</div>
	</section>				
