<!-- Services Section -->
    <section id="buy" class="orange">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Buy Arsenic & Lies</h2>
                    <h3 class="section-subheading">We offer a choice of distribution methods allowing you to minimise shipping costs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
	                <div class="buybox">
		                <div>
		                    <h2 class="section-heading buy-section-heading">UK & Europe</h2>
					<p class="text-muted-center">A physical copy of Arsenic & Lies + a free digital print-and-play copy.</p>
				</div>
				<div style="margin-top: 2.5em">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="charset" value="utf-8">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="2HN9JUC84MBB2">
					<table class="paypal-table">
						<tr><td style="padding-bottom: 0.5em"><input type="hidden" name="on0" value="Shipping destination">Shipping destination:</td></tr>
						<tr><td>
							<select name="os0">
								<option value="UK (Royal Mail 2nd Class shipping: £1.50)">UK (shipping: £1.50)</option>
								<option value="Europe (Royal Mail International Standard shipping: £4)">Europe (shipping: £4)</option>
							</select>
						</td></tr>
					</table>
					<input type="hidden" name="currency_code" value="GBP">
					<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
					</form>
					<p class="text-muted-center"><b class="black">£18 + shipping</b><br /><sup>Shipping late May 2018.</sup></p>		
				</div>
			</div>			
                </div>
                <div class="col-md-4">
	                <div class="buybox">
	                	<div>
		                    <h2 class="section-heading buy-section-heading">Rest of the world</h2>
		                    <p class="text-muted-center">A physical copy of Arsenic & Lies + a free digital print-and-play copy.</p>	
		                </div>
		                <div style="margin-top: 3em">
		                	<a href="https://www.drivethrucards.com/product/227833/Arsenic--Lies"><img src="img/dtcards-logo-245.png" /></a>
					<p class="text-muted-center"><b class="black">$25 + shipping</b></p>			
				</div>
	                </div>
                </div>
                <div class="col-md-4">
	                <div class="buybox">
	                	<div>
		                    <h2 class="section-heading buy-section-heading">Digital</h2>
		                    <p>A pdf file with everything you need to print-and-play Arsenic & Lies.</p>
		                </div>
		                <div style="margin-top: 3em">
							<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ATTRP3XVDYDV8">
								<img src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" alt="PayPal – The safer, easier way to pay online!">
							</a>
							<p class="text-muted-center"><b class="black">$10</b><br /><sup>After purchase click "Return to merchant" to be redirected to the download page. The link will also be sent to your email within 24h.</sup></p>
						</div>
	                </div>
                </div>
            </div>
        </div>
    </section>
