<section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="section-heading">Contact</h2>
					<p class="text-muted text-center">
					I hugely appreciate any feedback on Arsenic & Lies! If you have any questions or concerns, please let me know and I will try to answer as soon as possible. Thanks!</p>
                    <form name="sentMessage" id="contactForm" action="https://formspree.io/karolina@polydactylgames.com" method="POST">
						<input type="hidden" name="_next" value="/index.html">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" name="_replyto" required data-validation-required-message="Please enter your email address.">
                                </div>
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" name="name" required data-validation-required-message="Please enter a message."></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
				</div>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading small-heading">About me</h2>
					<p class="text-muted small-text">
					My name is a Karolina Soltys and I'm a software engineer moonlighting as a game designer. I am dreaming of someday making game design my full-time job. Larps are my passion verging on obsession, and with Arsenic & Lies I am hoping to introduce larping to people who haven't tried it before. I co-organise <a class="link" href="https://immersivistlarps.wordpress.com/">The Immersivist Club</a>, a group regularly playing larps in London, and <a class="link" href="https://the-smoke.org/">The Smoke</a> – a larp festival taking place in London every January. I also write some more artsy larps, which you can check out on <a class="link" href="https://www.polydactylgames.com/larps">my personal site</a>.<br /><br />
					Arsenic & Lies is inspired by some great games: <a class="link" href="https://drive.google.com/drive/folders/0B3zTBqEISNMuZlQ5cGh1LVBtVlE?usp=sharing">Unheroes</a> by Joanna Piancastelli, <a class="link" href="http://www.drivethrurpg.com/product/149064/Will-That-Be-All">Will That Be All?</a> and <a class="link" href="http://www.drivethrurpg.com/product/106250/A-Taste-For-Murder">A Taste for Murder</a> by Graham Walmsley, and <a class="link" href="https://www.fmlarp.com/">Fairweather Manor</a> by Dziobak Studios – I do recommend you check these out, they are a great introduction to larps. And, of course, my teenage love for Agatha Christie novels, and more recent binging on Downton Abbey.<br /><br />
					The artwork is either public domain or created by myself. The larp is in no way endorsed by Downton Abbey or the Agatha Christie estate and does not use any content from these works – they are just inspiration.</p>
				</div>
			</div>
        </div>
    </section>
