<!-- Extras Section -->
    <section id="extras">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Soundtrack</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-5 col-md-offset-1">
					<button type="submit" class="btn btn-xl extras-btn">Act 1</button>
                    <p class="text-muted-center">1920s blues music by Paul Whiteman<br />mp3, public domain</p>
                </div>
                <div class="col-md-5">
					<button type="submit" class="btn btn-xl extras-btn">Act 2</button>
                    <p class="text-muted-center">piano concertos by Sergei Rachmaninoff<br />mp3, public domain</p>
                </div>
            </div>
        </div>
    </section>
