<!-- Rules Section -->
	<section id="rules">
        <div class="container">
            <div class="row">
			    <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QzmMB8dTwGs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">

                    <h2 class="section-heading text-center">Rules</h2>
                    <ul class="text-list">
                        <li><a href="">Screen-friendly rules with a play example.</a></li>
                        <li>Foldable tuckbox-sized rules: a4, letter, a4-bw, letter-bw.</li>
                        <li>Safety cards (optional): a4, letter.</li>
                    </ul>

<!--                     <section id="extras">
                    <h2 class="section-heading text-center">Soundtrack</h2>
                    <ul class="text-list">
                        <li>Act I</li>
                        <li>Act II</li>
                    </ul>
                    </section>     -->              
                </div>

            </div>
            
        </div>
                        </section>
						
						